<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <%= will_paginate @posts %>
      <% @posts.each do |post| %>
      <div class="post-wrapper">
        <h3><%= link_to post.title, post %></h3>
        <h5>Written by <a href="">Evans</a>, <%= relative_time(post.created_at)%> ago</h5>
        <br>
        <p><%= truncate(post.body, length: 250, escape: false) %></p>
        <%= link_to 'read more', post, class: "btn btn-warning btn-sm" %>
        <%= link_to like_post_path(post), class: "like", method: :put do %>
        <span class="badge fa fa-thumbs-o-up"><%= post.get_upvotes.size %></span>
        <% end %>
        <%= link_to dislike_post_path(post), class: "like", method: :put do %>
        <span class="badge fa fa-thumbs-o-down"><%= post.get_downvotes.size %></span>
        <% end %>
      </div>
      <hr>
      <% end %>
    </div>
    <div class="col-lg-4">
      
      <div class="well">
        <h4> Categories</h4>
        <div class="row">
          <% Category.all.each do |category| %>
          <%= link_to category.name, posts_path(id: category.id), class:"list-group-item" %>
          <% end %>
          <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
      </div>
    </div>
  </div>
  <%= will_paginate @posts %>
</div>