<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row first">
                <% @posts.each do |post| %>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <%= link_to (image_tag post.image.url), post %>
                       <h4><%= link_to post.title, post %></h4>
                        <div class="caption">
                            <p><%= truncate(post.body, length: 160, escape: false) %></p>
                        </div>
                        <div class="ratings">
                            <%= link_to 'read more', post, class: "btn btn-warning btn-sm" %>
                            <p class="pull-right"><%= relative_time(post.created_at) %></p>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>

        <div class="col-md-3">
            <p class="lead">Story Categories</p>
            <% Category.all.each do |category| %>
            <div class="list-group-item">
                <h6><%= link_to category.name, posts_path(id: category.id), class:"list-group" %></h6>
            </div>
            <% end %>
        </div>
    </div>
</div>