<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1><%= @post.title %></h1>
            <!-- Author -->
            <p class="lead">
                by <a href="#">Evans</a>
            </p>
            <hr>
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>
            <hr>
            <div class="thumbnail">
                <%= image_tag @post.image.url, class: "img-fluid"%>
            </div>

            <hr>
            <p class="lead"><%= markdown(@post.body).html_safe%></p>
             <% if user_signed_in? %>
             <%=link_to "Edit", edit_post_path, class: "btn btn-primary" %>
             <%=link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-danger" %>
             <% end %>
            <hr>


            <!-- Blog Comments -->
            <!-- Comments Form -->
            <div class="well">
                <h4>Leave a Comment:</h4>
                <%= form_for([@post, @post.comments.build]) do |f| %>
                <form role="form">
                    <div class="form-group">
                        <!-- <textarea class="form-control" rows="3"></textarea> -->
                        <%= f.text_area :comment, class:"form-control" %>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <% end %>
            </div>
            <hr>
            <!-- Posted Comments -->
            <!-- Comment -->
            <div class="media">
                <% @post.comments.each do |comment| %>
                <div class="media-body">
                    <h4 class="media-heading">Comment:
                    <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    <p> <%= comment.comment %></p>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>

