<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1><%= @post.title %></h1>
            <hr>
            <p><span class="glyphicon glyphicon-time"></span>Posted <%= relative_time(@post.created_at) %> ago</p>
            <hr>
            <p class="lead"><%= markdown(@post.body).html_safe%></p>
            <% if user_signed_in? %>
            <%=link_to "Edit", edit_post_path, class: "btn btn-primary" %>
            <%=link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-danger" %>
            <% end %>
            <hr>
            <!-- Comments Form -->
            <div class="well">
               <%= render "partials/comments_form" %>
            </div>
            <hr>
            <!-- Posted Comments -->
            
            <div class="media">
                <%= render "partials/posted_comments" %>
            </div>
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-lg-4">
            <%= render "partials/categories_section" %>
        </div>
    </div>
    <!-- /.row -->
    <hr>
</div>