<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1><%= @post.title %></h1>
            <hr>
            <p><span class="glyphicon glyphicon-time"></span>Posted <%= relative_time(@post.created_at) %> ago</p>
            <hr>
            <div class="thumbnail">
                <%= image_tag @post.image.url, class: "img-fluid"%>
            </div>
            <hr>
            <p class="lead"><%= markdown(@post.body).html_safe%></p>
            <% if user_signed_in? %>
            <%=link_to "Edit", edit_post_path, class: "btn btn-primary" %>
            <%=link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-danger" %>
            <% end %>
            <hr>
            <!-- Comments Form -->
            <div class="well">
                <h4>Leave a Comment:</h4>
                <%= form_for([@post, @post.comments.build]) do |f| %>
                <form role="form">
                    <div class="form-group">
                        <!-- <textarea class="form-control" rows="3"></textarea> -->
                        <%= f.text_area :comment, class:"form-control" %>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <% end %>
            </div>
            <hr>
            <!-- Posted Comments -->
            
            <div class="media">
                <div class="media-body">
                <% @post.comments.each do |comment| %>
                    <div class="pull-left">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </div>
                    <h4 class="media-heading">Comment:
                    <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    <p> <%= comment.comment %></p>
                     <% end %>
                </div>
            </div>
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <p class="lead">Story Categories</p>
            <% Category.all.each do |category| %>
            <div class="list-group-item">
                <%= link_to category.name, posts_path(id: category.id), class:"list-group" %>
            </div>
            <% end %>
        </div>
    </div>
    <!-- /.row -->
    <hr>
</div>