<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1><%= @post.title %></h1>
            <hr>
            <h5>Written by: <span><%= @post.user.username %></span></h5>
            <p><span class="fa fa-clock-o"></span> <%= relative_time(@post.created_at) %> ago</p>
            <hr>
            <p class="lead"><%= markdown(@post.body).html_safe%></p>
            <% if current_user && current_user.superadmin %>
            <%= link_to "Edit", edit_post_path, class: "btn btn-warning" %>
            <%=link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-danger" %>
            <% end %>
            <%= social_share_button_tag(@post.title) %>

            <hr>
            <!-- Comments Form -->
            <div class="well">
                <%= commontator_thread(@post) %>
            </div>
            <hr>
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-lg-4">
            <div class="well">
                <h4> Categories</h4>
                <div class="row">
                    <% Category.all.each do |category| %>
                    <%= link_to category.name, posts_path(id: category.id), class:"list-group-item" %>
                    <% end %>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
    <!-- /.row -->
    <hr>
</div>
           