!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Planche
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"}
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"}

  %body
    = render "partials/header"
    / .container
    - flash.each do |name, msg|
      = content_tag :div, msg, class: 'alert alert-info'
    = yield

    = render "partials/footer"
  %script{:crossorigin => "anonymous", :integrity => "sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=", :src => "https://code.jquery.com/jquery-3.1.1.js"}
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"}
  %script{:src => "https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"}
  %script{:src => "assets/pinterest_grid.js"}
  %script{:crossorigin => "anonymous", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}




