!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Planche
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "anonymous", :href => "stylsheets/bootstrap.min.css"}
    %link{:crossorigin => "anonymous", :href => "stylsheets/bootstrap-theme.min.css"}
  = render "partials/header"

  %body
    .container
      / = render 'partials/messages'
      - flash.each do |name, msg|
        = content_tag :div, msg, class: 'alert alert-info'
      = yield
      %hr

      = render "partials/footer"
    %script{:crossorigin => "anonymous", :src => "javascripts/jquery-3.1.1.js"}
    %script{:crossorigin => "anonymous", :src => "javascripts/bootstrap.min.js"}