!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Planche
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"}
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"}

  %body
    = render "partials/header"
    / .container
    - flash.each do |name, msg|
      = content_tag :div, msg, class: 'alert alert-info'
    = yield

    = render "partials/footer"
  %script{:crossorigin => "anonymous", :src => "javascripts/jquery-3.1.1.js"}
  %script{:crossorigin => "anonymous", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
  %script{:crossorigin => "anonymous", :src=> "https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.js"}